{% extends 'base.html' %}
{% load static %}
{% block main %}
<section id="intro">
	<div class="intro-container">
	  <div id="introCarousel" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
        	<div class="carousel-item active" style="background-image: url({% static 'assets/img/intro-carousel/1.jpg' %})">
        	<div class="carousel-container">
            <div class="container row">
	      			<p>:)</p>
	    			</div>
	  			</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
