{% extends 'base.html' %}
{% load static %}
{% block main %}
<section id="intro">
<div class="intro-container">
  <div id="introCarousel" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active" style="background-image: url({% static 'assets/img/home.jpg' %})">
        <div class="carousel-container">
          <div class="container row">
            <div class="col-md-6 text-left">
              <h1 class="orange d-block float-left animate__animated animate__fadeInUp">Titanic</h1>
              <br>
              <br>
              <br>
              <p class="h4 animate__animated animate__fadeInUp">You are one of the passengers of the Titanic.</p>
              <p class="text-danger h4 animate__animated animate__fadeInUp"><i>Will you die or will you survive?</i></p>
              <p class="h4 animate__animated animate__fadeInUp">Try it!</p>
            </div>
            <div class="col-md-6">
              <form method="post" action="{% url 'titanicapp:answer' %}">
                {% csrf_token %}
                <label class="orange h5 text-light float-left my-3 mx-3 animate__animated animate__fadeInUp">{{form.name.label}}</label>
                {{form.name}}
                <label class="orange h5 text-light float-left my-3 mx-3 animate__animated animate__fadeInUp">{{form.age.label}}</label>
                {{form.age}}
                <label class="orange h5 text-light float-left my-3 mx-3 animate__animated animate__fadeInUp">{{form.sex.label}}</label>
                {{form.sex}}
                <button type="submit" class="scrollto animate__animated animate__fadeInU border-0 my-5 btn-get-started">Start Machine</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
{% endblock %}